<template>
  <div class="card card-body mb-3">
    <div class="row">
      <div class="col-md-2">
        <a href="profile.html">
          <img
            class="rounded-circle  d-md-block"
            :src="comment.avatar"
            alt
          />
        </a>
        <br />
        <p class="text-center">{{comment.name}}</p>
      </div>
      <div class="col-md-10">
        <p
          class="lead"
        >{{comment.text}}</p>
      </div>
      <button class="btn btn-danger mr-1"
        v-if="user!=null&&user.id==comment.user"
        @click="deleteClick(post_id,comment._id)"
        type="button"
        > <i class="fas fa-times"></i></button>
    </div>
  </div>
</template>

<script>
export default {
  name: "comment",
  computed:{
    user(){
      return this.$store.getters.user
    }
  },
  props:{
      comment:Object,
      post_id:String
  },
  methods:{
    deleteClick(post_id,comment_id){
      this.$axios.delete('/api/posts/deletecomment?post_id='+post_id+'&comment_id='+comment_id).
      then(res=>{
        this.$emit('update')
      }).catch(err=>{
        console.log(err.response.data);
      })
    }
  },
};
</script>

<style>
</style>