<template>
  <div class="post-form mb-3">
    <div class="card card-info">
      <div class="card-header bg-info text-white">{{$t('comment.form')}}</div>
      <div class="card-body">
        <form @submit.prevent="submit">
          <TextAreaGroup name="text" placeholder="..." v-model="text" :error="errors.text" />
          <input type="submit" :value="$t('submit')" class="btn btn-dark" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import TextAreaGroup from "../common/TextAreaGroup";
export default {
  name: "commentForm",
  components: {
    TextAreaGroup,
  },
  props: {
    post_id: String,
  },
  data() {
    return {
      text: "",
      errors: {
        text: "", //如果不初始化，输入有错时，页面不会有错误提示
      },
    };
  },
  methods: {
    submit() {
      // console.log(this.text);
      const user = this.$store.getters.user;
      this.$axios
        .post("/api/posts/addcomment?post_id=" + this.post_id, {
          text: this.text,
          name: user.name,
          avatar: user.avatar,
        })
        .then((res) => {
          this.errors = {
            text: "", //如果data初始化里有这个字段，覆盖清空时也必须保有该字段
          };
          this.text = "";
          this.$emit("update");
        })
        .catch((err) => {
          if (err.response.data.noprofile) {
            this.errors.text = err.response.data.noprofile;
          } else {
            this.errors.text = err.response.data.text;
          }
        });
    },
  },
};
</script>

<style>
</style>