<template>
  <div class="post">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
        <a class="btn btn-light" @click.prevent="$router.go(-1)">{{$t('comment.back')}}</a>
        <div>
        <!-- show the single review content -->
        <Postfeed
        v-if="postData!=null"
        :post="postData"
        :showAction=false
        />
        </div>
        <div>
        <!-- comment Form -->
        <CommentForm
        v-if="postData!=null"
        :post_id="postData._id"
        @update="getPost(postData._id)"
        />
        </div>
        <!-- comments -->
        <div v-if="postData!=null && postData.comments.length>0">
        <Comment
        v-for="comment in postData.comments"
        :key="comment.index"
        :comment="comment"
        :post_id="postData._id"
        @update='getPost(postData._id)'
        />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Postfeed from './PostFeed'
import CommentForm from './commentForm'
import Comment from './comment'
export default {
    name:"Post",
    components:{
        Postfeed,
        CommentForm,
        Comment
    },
    data(){
        return{
            postData:null,
            errors:{}
        }
    },
    beforeRouteEnter(to,from,next){
        next(vm=>{
            vm.getPost(to.params.id)
        })
    },
    methods:{
        getPost(id){
            this.$axios.get('/api/posts?post_id='+id).
            then(res=>{
                this.postData = res.data
                this.errors = {}
                // console.log(this.postData);
            }).catch(err=>{
                this.postData = null
                this.errors = err.response.data
            })
        }
    }

};
</script>

<style>
</style>