<template>
  <div>
    <!-- post review -->
    <PostForm @update="getPosts"/>
    <!-- hitorial all reviews -->
    <PostFeed :showAction=true @update="getPosts" v-for="post in posts" :key="post.index" :post="post" />
  </div>
</template>

<script>
import PostForm from "./PostForm";
import PostFeed from "./PostFeed";
export default {
  name: "Posts",
  components: {
    PostForm,
    PostFeed,
  },
  data() {
    return {
      posts: [],
      errors: {},
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getPosts();
    });
  },
  methods: {
    getPosts() {
      this.$axios
        .get("api/posts/all")
        .then((res) => {
          this.posts = res.data;
        })
        .catch((err) => {
          this.errors = err.response.data;
        });
    },
  },
};
</script>

<style>
</style>