<template>
  <div class="post">
    <div class="card card-body mb-3">
      <div class="row">
        <div class="col-md-2">
          <a href="/profile">
            <img
              class="rounded-circle d-md-block"
              :src="post.avatar?post.avatar:'../../assets/userHead.jpg'"
              alt
            />
          </a>
          <p class="text-center">{{post.name}}</p>
        </div>
        <div class="col-md-10">
          <p class="lead">{{post.text}}</p>
          <span v-if="showAction==true">
            <button @click="likeClick(post._id)" type="button" class="btn btn-light mr-1">
              <i class="text-info fas fa-thumbs-up"></i>
              <span class="badge badge-light">{{post.likes.length}}</span>
            </button>
            <button @click="unlikeClick(post._id)" type="button" class="btn btn-light mr-1">
              <i class="text-secondary fas fa-thumbs-down"></i>
            </button>
            <router-link :to="'/post/'+post._id" class="btn btn-info mr-1">{{$t('comment.message')}}</router-link>
            <button
              @click="deleteClick(post._id)"
              v-if="user!=null&&post.user == user.id"
              type="button"
              class="btn btn-danger mr-1"
            >
              <i class="fas fa-times"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostFeed",
  props: {
    post: Object,
    showAction: Boolean,
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  methods: {
    deleteClick(post_id) {
      this.$axios({ url: "api/posts?post_id=" + post_id, method: "delete" })
        .then((res) => {
          //交由父级方法更新数据
          this.$emit("update");
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    },
    likeClick(post_id) {
      this.$axios
        .post("api/posts/like?post_id=" + post_id)
        .then((res) => {
          //成功更新数据
          this.$emit("update");
        })
        .catch((err) => {
          if (err.response.data.alredayLiked){
            alert(err.response.data.alredayLiked);
          }else{
            alert(err.response.data.error);
          }
        });
    },
    unlikeClick(post_id) {
      this.$axios
        .delete("api/posts/deleteLike?post_id=" + post_id)
        .then((res) => {
          //成功更新数据
          this.$emit("update");
        })
        .catch((err) => {
          console.log(err.response.data);
          if (err.response.data.alredayLiked){
            alert(err.response.data.alredayLiked)
            }else{
            alert(err.response.data.error);
          }
        });
    },
  },
};
</script>

<style>
.d-md-block {
  width: 50px;
  height: 50px;
}
</style>