<template>
  <div id="app">
    <Navbar />
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
    <Footer />
    <Loading v-show="loading"/>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
import Landing from "./components/Landing";
import Footer from "./components/Footer";
import Loading from './components/common/Loading'

import jwt_decode from "jwt-decode"; //验证登录

export default {
  name: "App",
  components: {
    Navbar,
    Footer,
    Landing,
    Loading,
  },
  computed:{
    loading(){
      return this.$store.getters.loading
    }
  },
  methods: {
    isEmpty(value) {
      return (
        value == undefined ||
        value === null ||
        (typeof value == "object" && Object.keys(value).length === 0) ||
        (typeof value == "String" && value.trim().length === 0)
      );
    },
  },
  //钩子函数验证登录
  created() {
    if (localStorage.jwtToken) {
      const decoded = jwt_decode(localStorage.jwtToken);
      //获取当前时间
      const currentTime = Date.now() / 1000;
      //判断token是否过期
      if (decoded.exp < currentTime) {
        localStorage.removeItem('jwtToken')
        this.$store.dispatch('clearCurrentState')
        this.$router.push("/login");
      } else {
        //分发action更改store的state
        this.$store.dispatch("setIsAuthenticated", !this.isEmpty(decoded));
        this.$store.dispatch("setUser", decoded);
      }
    }
  },
  //每隔30分钟清空输入密码错误封停的名单，比如一个人输错3次放弃登录了，那么系统每30分钟清空名单后
  //这个人的输错次数将变回0，即输入错误的次数不会一直不清零导致5次输错后永远无法登录
  mounted(){
    setInterval(()=>{
      this.$store.dispatch('errorTimesClearAll')
    },30*60000)
  }
};
</script>

<style>
</style>
