<template>
  <div class="row">
            <div class="col-md-12">
              <div class="card card-body bg-info text-white mb-3">
                <div class="row">
                  <div class="col-4 col-md-3 m-auto">
                    <img v-if="profile.user" class="rounded-circle" :src="profile.user.avatar" alt="" />
                  </div>
                </div>
                <div class="text-center">
                  <h1 v-if="profile.user" class="display-4 text-center">{{profile.user.name}}</h1>
                  <p class="lead text-center">{{profile.company}}</p>
                  <p>{{profile.location}} </p>
                  <p>
                    <a v-if="profile.website" class="text-white p-2" href="#">
                      <i class="fas fa-globe fa-2x"></i>
                    </a>
                    <a v-if="profile.social&&profile.social.QQ" class="text-white p-2" href="#">
                      <i class="fab fa-QQ fa-2x"></i>
                    </a>
                    <a v-if="profile.social&&profile.social.wechat"  class="text-white p-2" href="#">
                      <i class="fab fa-wechat fa-2x"></i>
                    </a>
                    <a v-if="profile.social&&profile.social.linkedin" class="text-white p-2" href="#">
                      <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a v-if="profile.social&&profile.social.instagram" class="text-white p-2" href="#">
                      <i class="fab fa-instagram fa-2x"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
</template>

<script>
export default {
    name:'ProfileHeader',
    data(){
        return{
        }
    },
    props:{
        profile:Object
    },
}
</script>

<style>

</style>