<template>
  <div>{{$t('Profile.github')}}</div>
</template>

<script>
export default {
  name: "ProfileGithub",
  data() {
    return { 
      clientId: "",
       client_secret: "" ,
       sort:'created: desc',
       count:0,
       repos:[],
       };
  },
  props: {
    github: String,
  },
  created() {
    //https://api.github.com/users/hemiahwu@github.com/reops?per_page=10&sort=1&client_id=clientId&client_secret=clientSecret
    this.$axios.get("");
  },
};
</script>

<style>
</style>