<template>
  <div class="row">
            <div class="col-md-12">
              <div class="card card-body bg-light mb-3">
                <h3 v-if="profile.user" class="text-center text-info">{{$t('Profile.about')}} {{profile.user.name}}</h3>
                <p class="lead">
                  <span v-if="profile.bio">{{profile.bio}}</span>
                  <span v-else>{{$t('Profile.noBio')}}</span>
                </p>
                <hr />
                <h3 class="text-center text-info">{{$t('Profile.skills')}}</h3>
                <div class="row">
                  <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <div class="p-3" v-for="(skill,index) in profile.skills" :key="index" >
                      <i class="fa fa-check"></i> {{skill}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</template>

<script>
export default {
    name:'ProfileAbout',
    props:{
        profile:Object
    },
}
</script>

<style>

</style>