<template>
  <div class="row">
            <div class="col-md-6">
              <h3 class="text-center text-info">{{$t('Profile.experience')}}</h3>
              <ul class="list-group">
                <li v-for="exp in experience" :key="exp.index" class="list-group-item">
                  <h4>{{exp.company}}</h4>
                  <p>{{exp.from}} - {{exp.to}}</p>
                  <p>
                    <strong>{{$t('Profile.position')}}:</strong> {{exp.title}} 
                  </p>
                  <p>
                    <strong>{{$t('Profile.description')}}:</strong> {{exp.description}} </p>
                </li>
              </ul>
            </div>
            <div  class="col-md-6">
              <h3 class="text-center text-info">{{$t('Profile.education')}}</h3>
              <ul class="list-group">
                <li v-for="edu in education" :key="edu.index" class="list-group-item">
                  <h4>{{edu.school}}</h4>
                  <p>{{edu.from}} - {{edu.to}}</p>
                  <p>
                    <strong>{{$t('Profile.degree')}}: </strong>{{edu.degree}}</p>
                  <p>
                    <strong>{{$t('Profile.major')}}: </strong>{{edu.fieldofstudy}}</p>
                  <p>
                    <p>
                      <strong>{{$t('Profile.description')}}:</strong> {{edu.description}} </p>
                </li>
              </ul>
            </div>
          </div>

</template>

<script>
export default {
    name:'ProfileExpEdu',
    props:{
      experience:Array,
      education:Array,
    }
}
</script>

<style>

</style>