<template>
  <div class="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-6">
              <a @click.prevent="$router.go(-1)" class="btn btn-light mb-3 float-left">Back</a>
            </div>
            <div class="col-6">
              {{$t('Profile.title')}}
              <ProfileHeader v-if="profile" :profile="profile" />
              <ProfileAbout v-if="profile" :profile="profile"/>
              <ProfileExpEdu v-if="profile&&(profile.experience||profile.education)" :experience="profile.experience" :education="profile.education"/>
              <!-- <ProfileGithub v-if="profile&&profile.github" :github="profile.github"/> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProfileHeader from "./ProfileHeader";
import ProfileAbout from "./ProfileAbout";
import ProfileExpEdu from "./ProfileExpEdu";
import ProfileGithub from "./ProfileGithub";
export default {
  name: "Profile",
  data() {
    return {
      profile: null,
    };
  },
  components: {
    ProfileHeader,
    ProfileAbout,
    ProfileExpEdu,
    ProfileGithub,
  },
  methods: {
    getProfileByHandle(handle) {
      this.$axios
        .get("/api/profile/handle?handle=" + handle)
        .then((res) => {
          this.profile = res.data
        })
        .catch((err) => {
          this.profile = null
        });
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getProfileByHandle(to.params.handle);
    });
  },
};
</script>

<style>
</style>