<template>
  <div>
    <h4 class="mb-2">{{$t('Education.title')}}</h4>
    <table class="table">
      <thead>
        <tr>
          <th>{{$t('Education.School')}}</th>
          <th>{{$t('Education.Degree')}}</th>
          <th>{{$t('Education.Time')}}</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-for="edu in education" :key="edu._id">
          <td>{{edu.school}}</td>
          <td>{{edu.degree}}</td>
          <td>{{edu.from}} - {{edu.to}}</td>
          <td>
            <button class="btn btn-danger" @click="deleteEducation(edu._id)">{{$t('Education.remove')}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Education",
  props:{
      education:Array
  },
  methods:{
      deleteEducation(edu_id){
          this.$emit('deleteEducation',edu_id)
      }
  }
};
</script>

<style>
</style>