<template>
  <div>
    <h4 class="mb-2">{{$t('Exprience.title')}}</h4>
    <table class="table">
      <thead>
        <tr>
          <th>{{$t('Exprience.company')}}</th>
          <th>{{$t('Exprience.content')}}</th>
          <th>{{$t('Exprience.time')}}</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <tr v-for="exp in experience" :key="exp._id">
          <td>{{exp.company}}</td>
          <td>{{exp.title}}</td>
          <td>{{exp.from}} - {{exp.to}}</td>
          <td>
            <button @click="deleteClick(exp._id)" class="btn btn-danger">{{$t('Exprience.remove')}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Exprience",
  data() {
    return {};
  },
  props: {
    experience: Array,
  },
  methods:{
      deleteClick(exp_id){
        this.$emit('deleteExperience',exp_id)//因为涉及操作父组件的computed属性this.profile，所以调用父组件中的方法才能正确操作数据
      },
      
  }
};
</script>

<style>
</style>