<template>
  <div class="loading">
    <img src="../../assets/loading.gif" alt />
  </div>
</template>
<style scoped>
.loading {
  width: 200px;
  height: 200px;
  position: absolute; /*绝对定位*/
  top: 50%; /*距顶部50%*/
  left: 50%;
  margin: -50px 0 0 -50px; /*设定这个div的margin-top的负值为自身的高度的一半,margin-left的值也是自身的宽度的一半的负值.(感觉在绕口令)*/
  z-index: 99; /*浮动在最上层 */
}
</style>