<template>
  <div class="card card-body bg-light mb-3">
    <div class="row">
      <div class="col-2">
          <!-- 要先判断二级目录profile.user是否存在，才能使用三级目录 -->
        <img v-if="profileItem.user" style="width: 150px" class="rounded-circle" :src="profileItem.user.avatar" alt />
      </div>
      <div class="col-lg-6 col-md-4 col-8">
        <h3 v-if="profileItem.user">{{profileItem.user.name}}</h3>
        <p>{{profileItem.status}}</p>
        <p>{{profileItem.locaiton}}</p>
        <router-link :to="{path:'/profile/'+profileItem.handle, params:{handle:profileItem.handle}}" class="btn btn-info">{{$t('Profiles.ProfileItem.moreInfo')}}</router-link>
      </div>
      <div class="col-md-4 d-lg-block">
        <h4>{{$t('Profiles.ProfileItem.Skills')}}</h4>
        <ul class="list-group" >
          <li class="list-group-item" v-for="skill in profileItem.skills" :key="skill.index">
            <i class="fa fa-check pr-1"></i>{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileItem",
  props:{
      profileItem:Object
  }
};
</script>

<style>
</style>