<template>
  <div class="btn-group mb-4" role="group">
    <router-link to="/edit-profile" class="btn btn-light">
      <i class="fas fa-user-circle text-info mr-1"></i> {{$t('Dashboard.ProfileActive.Edit')}}
    </router-link>
    <router-link to="/add-experience" class="btn btn-light">
      <i class="fab fa-black-tie text-info mr-1"></i>
      {{$t('Dashboard.ProfileActive.addExp')}}
    </router-link>
    <router-link to="/add-education" class="btn btn-light">
      <i class="fas fa-graduation-cap text-info mr-1"></i>
      {{$t('Dashboard.ProfileActive.addEdu')}}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ProfileActive",
};
</script>

<style>
</style>