<template>
  <div class="form-group">
    <select
      class="form-control form-control-lg"
      :name="name"
      :placeholder='placeholder'
      :value="value"
      :class="{'is-invalid':error}"
      @input="$emit('input',$event.target.value)"
    >
    <option v-for="(option,index) in options" :key="index" :value="option.value">{{option.value}}</option>
    </select>
    <div v-if="error" class="invalid-feedback">{{error}}</div>
    <small v-if="info" class="form-text text-muted">{{info}}</small>
  </div>
</template>

<script>
export default {
  name: "SelectList",
  props: {
    value: String,
    name: String,
    info: String,
    error: String,
    options: Array,
    placeholder:String
  },
};
</script>

<style>
</style>