<template>
  <div class="form-group">
    <input
      :type="type"
      class="form-control form-control-lg"
      :value="value"
      :placeholder="placeholder"
      :name="name"
      :disabled="disabled"
      :class="{'is-invalid':error}"
      @input="$emit('input',$event.target.value)"
    />
    <div v-if="error" class="invalid-feedback">{{error}}</div>
    <small v-if="info" class="form-text text-muted">{{info}}</small>
  </div>
</template>

<script>
export default {
  name: "TextFeild",
  props:{
      type:{
          type:String,
          default:'text'
      },
      placeholder:String,
      name:String,
      info:String,
      error:String,
      value:String,
      disabled:Boolean
  }
};
</script>

<style>
</style>