<template>
  <!-- experience -->
  <div class="section add-experience">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <router-link to="/dashboard" class="btn btn-light">{{$t('addExp.back')}}</router-link>
          <h1 class="display-4 text-center">{{$t('addExp.title')}}</h1>
          <p class="lead text-center">{{$t('addExp.describe')}}</p>
          <small class="d-block pb-3">{{$t('addExp.must')}}</small>
          <form @submit.prevent="submit">
              <TextFeild
                type="text"
                :placeholder="$t('addExp.position')"
                name="title"
                v-model="msgInfo.title"
                :error='errors.title'
                :info="$t('addExp.positionInfo')"
              />
              <TextFeild
                type="text"
                :placeholder="$t('addExp.company')"
                name="company"
                v-model="msgInfo.company"
                :error='errors.company'
                :info="$t('addExp.companyInfo')"
              />
            <TextFeild
                type="text"
                :placeholder="$t('addExp.location')"
                name="location"
                v-model="msgInfo.location"
                :error='errors.location'
                :locationInfo="$t('addExp.locationInfo')"
              />
            <TextFeild
                type="date"
                :placeholder="$t('addExp.begin')"
                name="from"
                v-model="msgInfo.from"
                :error='errors.from'
              />
              <TextFeild
                type="date"
                :placeholder="$t('addExp.until')"
                name="to"
                v-model="msgInfo.to"
                :error='errors.to'
                :disabled='msgInfo.current'
              />
            
            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" v-model="msgInfo.current" name="current" value id="current" />
              <label class="form-check-label" for="current">{{$t('addExp.tillNow')}}</label>
            </div>
            <TextAreaGroup
                :placeholder="$t('addExp.Program')"
                name='description'
                v-model="msgInfo.description"
                :error="errors.description"
                :info="$t('addExp.ProgramInfo')"
            />
            <input type="submit" :value="$t('submit')" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TextFeild from "./common/TextFeild";
import TextAreaGroup from "./common/TextAreaGroup";
export default {
  name: "AddExperience",
  components: {
    TextFeild,
    TextAreaGroup,
  },
  data() {
    return {
      errors: {},
      msgInfo: {
        current: true,
        title: "",
        company: "",
        location: "",
        from: "",
        to: "",
        description: "",
      },
    };
  },
  methods: {
    submit() {
      this.$axios
        .post("api/profile/experience",this.msgInfo)
        .then((res) => {
            this.errors =''
            this.$router.push('/dashboard')
        })
        .catch((err) => {
            this.errors = err.response.data
        });
    },
  },
};
</script>

<style>
</style>