<template>
      <div class="add-education">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-auto">
            <a href="/dashboard" class="btn btn-light">
              {{$t('addEdu.back')}}
            </a>
            <h1 class="display-4 text-center">{{$t('addEdu.title')}}</h1>
            <p class="lead text-center">
              {{$t('addEdu.describe')}}
            </p>
            <small class="d-block pb-3">{{$t('addEdu.must')}}</small>
            <form @submit.prevent="submit">
                <TextFeild
                    type='text'
                    :placeholder='$t("addEdu.school")'
                    name='school'
                    :error="errors.school"
                    v-model="msgInfo.school"
                    info="Your school name"
                />
                <TextFeild
                    type='text'
                    :placeholder='$t("addEdu.degree")'
                    name='degree'
                    :error="errors.degree"
                    v-model="msgInfo.degree"
                    info="Education or certificate"
                />
              <TextFeild
                    type='text'
                    :placeholder='$t("addEdu.fieldofstudy")'
                    name='fieldofstudy'
                    :error="errors.fieldofstudy"
                    v-model="msgInfo.fieldofstudy"
                    info="Your major"
                />
                
              <h6>{{$t('addEdu.begin')}}</h6>
              <TextFeild
                    type='date'
                    placeholder='from'
                    name='from'
                    :error="errors.from"
                    v-model="msgInfo.from"
                    info="from"
                />
              <h6>{{$t('addEdu.until')}}</h6>
              <TextFeild
                    type='date'
                    placeholder='to'
                    name='to'
                    :error="errors.to"
                    v-model="msgInfo.to"
                    info="to"
                    :disabled="msgInfo.current"
                />
              <div class="form-check mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="current"
                  value=""
                  v-model="msgInfo.current"
                  id="current"
                />
                <label class="form-check-label" for="current">
                  {{$t('addEdu.tillNow')}}
                </label>
              </div>
              <TextAreaGroup
                :placeholder='$t("addEdu.Program")'
                  name="description"
                  :error="errors.description"
                  v-model="msgInfo.description"
                  :info='$t("addEdu.ProgramInfo")'
              />
              <input type="submit" :value="$t('submit')" class="btn btn-info btn-block mt-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import TextFeild from "../components/common/TextFeild";
import TextAreaGroup from "../components/common/TextAreaGroup";
export default {
    name:'AddEducation',
    components:{
        TextFeild,
        TextAreaGroup
    },
    data(){
        return {
            errors:{},
            msgInfo:{
                current:false,
                school:'',
                degree:'',
                fieldofstudy:'',
                from:'',
                to:'',
                description:'',
            },
        }
    },
    methods:{
        submit(){
            this.$axios.post('api/profile/education',this.msgInfo)
            .then(res=>{
                this.errors = ''
                this.$router.push('/dashboard')
            }).catch(err=>{
                this.errors = err.response.data
            })
        }
    }

}
</script>

<style>

</style>