<template>
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">{{$t('Dashboard.title')}}</h1>
          <p v-if="user !== null" class="lead text-muted">
            {{$t('Dashboard.Welcome')}} 
            <router-link v-if="profile == null" to="/profiles">{{user.name}}</router-link>
            <router-link  v-else :to="{path:'/profile/'+profile.handle,params:{handle:profile.handle}}" >{{user.name}}</router-link>
            </p>
          <div v-if="profile!=null">
            <!-- add edit personal education/experience -->
            <ProfileActive />
            <!-- show experience -->
            <Exprience @deleteExperience="deleteExperience" :experience="profile.experience" />
            <!-- show educations -->
            <Education @deleteEducation="deleteEducation" :education="profile.education" />
            <!-- 删除账户 -->
            <div style="margin-bottom: 60px">
              <button class="btn btn-danger" @click="deleteClick">{{$t('Dashboard.remove')}}</button>
            </div>
          </div>
          <div v-else>
            {{this.noProfileMsg}}
            <router-link to="/create-profile" class="btn btn-lg btn-info">{{$t('Dashboard.create')}}</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProfileActive from "./common/ProfileActive";
import Exprience from "./common/Exprience";
import Education from "./common/Education";
export default {
  name: "Dashboard",
  components: {
    ProfileActive,
    Exprience,
    Education,
  },
  data() {
    return {
      noProfileMsg: null,
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    profile: {
      get: function () {
        return this.$store.getters.profile;
      },
      set: function (newValue) {
        //用于更新删除某条工作经历后的数据
        this.$store.state.profile = newValue;
      },
      // return this.$store.getters.profile;
    },
  },
  methods: {
    getProfileData() {
      this.$axios
        .get("api/profile")
        .then((res) => {
          this.$store.dispatch("setProfile", res.data);
        })
        .catch((err) => {
          this.$store.dispatch("setProfile", null);
          this.noProfileMsg = err.response.data.noprofile;
        });
    },
    deleteClick() {
      this.$axios
        .delete("api/profile")
        .then((res) => {
          this.profile = null;
          //更新store
          localStorage.removeItem("jwtToken");
          this.$store.dispatch("clearCurrentState");
          this.$router.push("/login");
        })
        .catch((err) => {
          console.error(err.response);
        });
    },
    deleteExperience(exp_id) {
      this.$axios
        .delete("api/profile/experience/?exp_id=" + exp_id)
        .then((res) => {
          this.profile = res.data;
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    },
    deleteEducation(edu_id) {
      this.$axios
        .delete("api/profile/education?edu_id=" + edu_id)
        .then((res) => {
          this.profile = res.data;
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    },
  },
  //钩子函数只在进入组件之前运行1次
  // created() {
  // this.getProfileData()
  // },
  //此导航守卫 会在每次进入组件之前都执行一次beforeRouterEnter中的getProfileData
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getProfileData(); //此处调用方法而不在此处写方法是因为 执行顺序是：beforeRouteEnter => created => mounted => beforeRouteEnter的next() , 导致你在next()中做的操作是在组件初始化之后才产生，这很不方便。
      //通过在vm中传递一个初始化方法，将本在原组件的mounted或者created钩子中调用的方法绑定在next
    });
  },
};
</script>

<style>
</style>