<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <a href="/dashboard" class="btn btn-light">{{$t('CreateProfile.Back')}}</a>
        <h1 class="display-4 text-center">{{$t('EditProfile.title')}}</h1>
        <small class="d-block pb-3">{{$t('CreateProfile.must')}}</small>
        <!-- form -->
        <form @submit.prevent="submit">
          <TextField
            type="text"
            name="handle"
            :placeholder="$t('CreateProfile.handle')"
            v-model="msgInfo.handle"
            :error="errors.handle"
            :info="$t('CreateProfile.handleInfo')"
          />
          <SelectList
            name="status"
            :placeholder="$t('CreateProfile.jobs')"
            :error="errors.status"
            v-model="msgInfo.status"
            :options="options"
            :info="$t('CreateProfile.jobsInfo')"
          />

          <TextField
            type="text"
            name="company"
            :placeholder="$t('CreateProfile.company')"
            v-model="msgInfo.company"
            :error="errors.company"
            :info="$t('CreateProfile.companyInfo')"
          />
          <TextField
            type="text"
            name="website"
            :placeholder="$t('CreateProfile.website')"
            v-model="msgInfo.website"
            :error="errors.website"
            :info="$t('CreateProfile.websiteInfo')"
          />

          <TextField
            type="text"
            name="location"
            :placeholder="$t('CreateProfile.location')"
            v-model="msgInfo.location"
            :error="errors.location"
            :info="$t('CreateProfile.locationInfo')"
          />

          <TextField
            type="text"
            name="skills"
            :placeholder="$t('CreateProfile.skills')"
            v-model="msgInfo.skills"
            :error="errors.skills"
            :info="$t('CreateProfile.skillsInfo')"
          />
          <TextField
            type="text"
            name="github"
            :placeholder="$t('CreateProfile.github')"
            v-model="msgInfo.github"
            :error="errors.github"
            :info="$t('CreateProfile.githubInfo')"
          />

          <TextArea
            :placeholder="$t('CreateProfile.bio')"
            name="bio"
            v-model="msgInfo.bio"
            :error="errors.bio"
            :info="$t('CreateProfile.bioInfo')"
          />

          <div class="mb-3">
            <button
              type="button"
              class="btn btn-light"
              @click="displayScoialInputs = !displayScoialInputs"
            >{{$t('CreateProfile.addSocial')}}</button>
            <span class="text-muted">{{$t('CreateProfile.Optional')}}</span>
          </div>
          <div v-show="displayScoialInputs">
            <InputGroup
              placeholder="wechat official account"
              name="wechat"
              v-model="msgInfo.wechat"
              icon="fab fa-weixin"
            />
            <InputGroup placeholder="QQ account" name="QQ" v-model="msgInfo.QQ" icon="fab fa-qq" />
            <InputGroup
              placeholder="line account"
              name="line"
              v-model="msgInfo.line"
              icon="fab fa-line"
            />
            <InputGroup
              placeholder="whatsapp account"
              name="whatsapp"
              v-model="msgInfo.whatsapp"
              icon="fab fa-whatsapp"
            />
          </div>
          <input type="submit" class="btn btn-info btn-block mt-4" :value="$t('CreateProfile.Submit')" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import TextField from "../components/common/TextFeild";
import SelectList from "../components/common/SelectList";
import InputGroup from "../components/common/InputGroup";
import TextArea from "../components/common/TextAreaGroup";
export default {
  name: "EditProfile",
  data() {
    return {
      displayScoialInputs: false,
      msgInfo: {
        handle: "",
        status: "please select your job",
        company: "",
        website: "",
        location: "",
        status: "",
        skills: "",
        bio: "",
        github: "",
        wechat: "",
        QQ: "",
        line: "",
        whatsapp: "",
      },
      errors: {
        status: "",
      },
      options: [
        { label: "SE", value: "Software Engineer" },
        { label: "SSE", value: "Senior Software Engineer" },
        { label: "BSE", value: "Bridge System Engineer " },
        { label: "PL", value: "Project Leader" },
        { label: "PM", value: "Project Manager" },
        { label: "SA", value: "System Analysis&Administration" },
        { label: "BD", value: "Business Development" },
        { label: "DD", value: "Data Dictionary" },
        { label: "PD", value: "Product Designer" },
        { label: "QA", value: "QUALITY ASSURANCE" },
        { label: "UT", value: "Unit Testing" },
        { label: "ST", value: "System Testing" },
        { label: "UAT", value: "User Acceptance testing" },
        { label: "OP", value: "Operator" },
      ],
    };
  },
  components: {
    TextField,
    SelectList,
    InputGroup,
    TextArea,
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getCurrentProfile(vm);
    });
  },
  methods: {
    getCurrentProfile(vm) {
      let profile = vm.$store.getters.profile;
      if (profile) {
        profile.company = profile.company ? profile.company : "";
        profile.location = profile.location ? profile.location : "";
        profile.bio = profile.bio ? profile.bio : "";
        profile.github = profile.github ? profile.github : "";
        profile.social = profile.social ? profile.social : {};
        profile.wechat = profile.social.wechat ? profile.social.wechat : "";
        profile.QQ = profile.social.QQ ? profile.social.QQ : "";
        profile.line = profile.social.line ? profile.social.line : "";
        profile.whatsapp = profile.social.whatsapp
          ? profile.social.whatsapp
          : "";
        profile.skills = (profile.skills&&profile.skills.length) ? profile.skills.join(",") : "";
        this.msgInfo = profile;
      }
    },
    submit() {
      const token = this.$store.getters.user;
      this.$axios
        .post("api/profile/", this.msgInfo)
        .then((res) => {
          this.errors = {};
          this.$store.dispatch("setProfile", res.data);
          this.$router.push("/dashboard");
        })
        .catch((err) => {
          if (err.response.data) {
            this.errors = err.response.data;
          }
        });
    },
  },
};
</script>

<style>
</style>