<template>
      <footer class="bg-info text-white mt-5 p-4 text-center">
      Copyright &copy; 2020
    </footer>
</template>

<script>
export default {
    name:'Footer',
    data(){
        return {}
    }
}

</script>

<style>

</style>