<template>
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h1 class="display-4 text-center">{{$t("Login.title")}}</h1>
          <p class="lead text-center">{{$t('Login.describe')}}</p>
          <form @submit.prevent="submit" autocomplete="off" method="post">
            <TextFeild
              type="email"
              :placeholder="$t('Login.email')"
              name="email"
              v-model="user.email"
              :error="errors.email"
            />
            <TextFeild
              type="password"
              :placeholder="$t('Login.password')"
              name="password"
              v-model="user.password"
              :error="errors.password"
            />
            <input type="submit" :value="$t('Login.submit')" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import TextFeild from "./common/TextFeild";
export default {
  name: "Login",
  components: {
    TextFeild,
  },
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      errors: "",
    };
  },
  methods: {
    submit() {
      //从第六次输入就直接让封停用户等待解封，不进入请求方法且不再增加setTimeOut防止重叠
      if(this.$store.getters.errorTimes[this.user.email] >= 5){
        // return alert(this.$t('errors.moreThan5Times'))
        return this.errors = {password:this.$t('errors.moreThan5Times')}
      }
      this.$axios
        .post("api/users/login", this.user)
        .then((res) => {
          // console.log(res.data)
          //存储token
          const token = res.data.token;
          window.localStorage.setItem("jwtToken", token);
          //解析token
          const decoded = jwt_decode(token);
          //分发action更改store的state
          this.$store.dispatch("setIsAuthenticated", !this.isEmpty(decoded));
          this.$store.dispatch("setUser", decoded);
          this.errors = {};
          //跳转
          this.$router.push("./dashboard");
        })
        .catch((err) => {
          this.errors = err.response.data;
          if(this.errors.password&&this.errors.password.indexOf('password wrong')!=-1){
            this.$store.dispatch('errorTimesPlusOne',this.user.email)
            if(this.$store.getters.errorTimes[this.user.email]>=5){
              //此处因为this.user.email会变化，无法保证10秒后值不变，而外层虽然也有异步操作
              //但属于同步分发任务且有所限定，所以不用打标记username
              //一旦发送变化会导致无法正确清空该用户输错次数
              //由于string类型属于基本数据类型 直接赋给username作为标记即可，
              //不涉及考虑引用地址和引用类型以及深浅复制导致数据污染的问题
              let username = this.user.email
              setTimeout(()=>{
                this.$store.dispatch('errorTimesClear',username)
              },10000)
              //错误提醒
              // alert(this.$t('errors.moreThan5Times'))
              this.errors = {password:this.$t('errors.moreThan5Times')}
            }
          }
          console.error(this.errors);
        });
    },
    isEmpty(value) {
      return (
        value == undefined ||
        value === null ||
        (typeof value == "object" && Object.keys(value).length === 0) ||
        (typeof value == "String" && value.trim().length === 0)
      );
    },
  },
};
</script>Î

<style>
</style>