<template>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
      <router-link class="navbar-brand" to="/">Developers</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mobile-nav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/profiles">
              {{$t('Navbar.Developers')}}
            </router-link>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item" v-show="isLogin">
            <router-link class="nav-link" to="/feed">{{$t('Navbar.Review')}}</router-link>
          </li>
          <li class="nav-item" v-show="isLogin">
            <router-link class="nav-link" to="/dashboard">
              {{$t('Navbar.dashboard')}}
            </router-link>
          </li>
          <li class="nav-item" v-show="isLogin">
            <router-link class="nav-link" to="/resetPass">{{$t('Navbar.resetPass')}}</router-link>
          </li>
          <li class="nav-item" v-show="!isLogin">
            <router-link class="nav-link" to="/register">{{$t('Navbar.signUp')}}</router-link>
          </li>
          <li class="nav-item" v-show="!isLogin">
            <router-link class="nav-link" to="/login">{{$t('Navbar.logIn')}}</router-link>
          </li>
          <li class="nav-link">
            <select v-model="currentLang" @change="trans">
              <option value="">language</option>
              <option v-for="lang in languages"  :key="lang.id" >
                {{lang}}
                </option>
            </select>
          </li>
          <li class="nav-item" v-if="user !== null" v-show="isLogin">
            <a class="nav-link" @click.prevent="logout" to="/login">
              <img
                class="rounded-circle headerImg"
                style="width: 25px; margin-right: 5px"
                :src="user.avatar"
                :alt="user.name"
                title="需要注册全球公认头像, 才可以拥有头像"
              />
              {{$t('Navbar.Exit')}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      currentLang:'Eng',
      languages:[
        'Eng',
        '日本語',
        'ไทย',
        '中文简体',
        '中文繁体',
      ],
      langTrans:{
        'Eng':'en',
        '日本語':'jp',
        'ไทย':'th',
        '中文简体':'zhCN',
        '中文繁体':'zhTW',
      }
    };
  },
  computed: {
    isLogin() {
      if (this.$store.getters.isAuthenticated) {
        return true;
      } else {
        return false;
      }
    },
    user() {
      return this.$store.getters.user;
    },
  },
  methods: {
    logout() {
      // 删除ls
      localStorage.removeItem("jwtToken");
      // 干掉请求头 state.isAuthenticated = false
      // 清除user state.user = {}
      // 清空 state 中的profile
      this.$store.dispatch("clearCurrentState");
      //跳转登陆
      this.$router.push("/login");
    },
    trans(){
      this.$i18n.locale = this.langTrans[this.currentLang]?this.langTrans[this.currentLang]:'en'
      console.log(this.$i18n.locale);
    }
  },

};
</script>

<style>
.headerImg {
  width: 25px;
  margin-right: 5px;
}
</style>