<template>
  <div class="profiles">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center">{{$t('Profiles.title')}}</h1>
          <p class="lead text-center">...</p>
        <div v-if="profiles.length>0">
            <!-- 当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级，这意味着 v-if 将分别重复运行于每个 v-for 循环中,所以，不推荐v-if和v-for同时使用 -->
          <ProfileItem
            v-for="profileItem in profiles"
            :key="profileItem._id"
            :profileItem='profileItem'
          />
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProfileItem from "../components/common/ProfileItem";
export default {
  name: "Profiles",
  data(){
      return{
          profiles:{}
      }
  },
  components: {
    ProfileItem,
  },
  methods: {
    getProfiles() {
      this.$axios
        .get("api/profile/all")
        .then((res) => {
          this.profiles = res.data
          this.$store.dispatch("setProfiles", res.data);
        })
        .catch((err) => {
          this.profiles = []
          this.$store.dispatch('setProfiles',[])
        });
    },
  },
  created() {
    this.getProfiles();
  },
};
</script>

<style>
</style>