<template>
  <div class="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h1 class="display-4 text-center">{{$t('Signup.title')}}</h1>
          <p class="lead text-center">{{$t('Signup.describe')}}</p>
          <form @submit.prevent="submit" autocomplete="off" method="post">
            <!-- prevent 是拦截默认事件,passive是不拦截默认事件 -->
            <!--autocomplete 当用户在字段开始键入时，浏览器基于之前键入过的值，应该显示出在字段中填写的选项。 -->

            <TextFeild
              type="text"
              :placeholder="$t('Signup.name')"
              name="name"
              v-model="newUser.name"
              error:errors.name
            />

            <TextFeild
              type="email"
              :placeholder="$t('Signup.email')"
              name="email"
              v-model="newUser.email"
              :error="errors.email"
              :info="$t('Signup.emailInfo')"
            />

            <TextFeild
              type="password"
              :placeholder="$t('Signup.password')"
              name="password"
              v-model="newUser.password"
              :error="errors.password"
            />

            <TextFeild
              type="password"
              :placeholder="$t('Signup.password2')"
              name="password2"
              v-model="newUser.password2"
              :error="errors.password2"
            />
            <input type="submit" :value="$t('Signup.submit')" class="btn btn-info btn-block mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TextFeild from "./common/TextFeild";
export default {
  name: "Register",
  components: {
    TextFeild,
  },
  data() {
    return {
      newUser: {
        name: "",
        email: "",
        password: "",
        password2: "",
      },
      errors: "",
    };
  },
  methods: {
    submit() {
      this.$axios
        .post("/api/users/register", this.newUser)
        .then((res) => {
          // console.log(res.data)
          //mutation同步
          // this.$$store.commit('setUser',res.data)
          //actions异步
          this.$store.dispatch("setUser", res.data);
          this.errors = {};
          //跳转
          this.$router.push("/login");
        })
        .catch((err) => {
          if (err.response.data) {
            this.errors = err.response.data;
          }
        });
    },
  },
};
</script>

<style>
</style>