<template>
  <div class="register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 m-auto">
          <h1 class="display-4 text-center">{{ $t("resetPass.title") }}</h1>
          <p class="lead text-center">{{ $t("resetPass.describe") }}</p>
          <form @submit.prevent="submit" autocomplete="off" method="post">
            <!-- prevent 是拦截默认事件,passive是不拦截默认事件 -->
            <!--autocomplete 当用户在字段开始键入时，浏览器基于之前键入过的值，应该显示出在字段中填写的选项。 -->
            <TextFeild
              type="password"
              :placeholder="$t('resetPass.password')"
              name="password"
              v-model="resetObj.password"
              :error="errors.password"
            />
            <TextFeild
              type="password"
              :placeholder="$t('resetPass.resetPass')"
              name="resetPass"
              v-model="resetObj.resetPass"
              :error="errors.resetPass"
            />
            <TextFeild
              type="password"
              :placeholder="$t('resetPass.resetPass2')"
              name="resetPass2"
              v-model="resetObj.resetPass2"
              :error="errors.resetPass2"
            />
            <input
              type="submit"
              :value="$t('Signup.submit')"
              class="btn btn-info btn-block mt-4"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TextFeild from "../components/common/TextFeild";
export default {
  name: "ResetPassword",
  components: {
    TextFeild,
  },
  data() {
    return {
      resetObj: {
        password: "",
        resetPass: "",
        resetPass2: "",
      },
      errors: {},
    };
  },
  methods: {
    submit() {
      this.$axios
        .post("api/users/resetPass", this.resetObj)
        .then((res) => {
          if (res.data.success) {
            alert(this.$t("resetPass.success"));
            this.logout();
          }else{
              console.log(res);
              alert(this.$('errors.noSure'))
          }
        })
        .catch((err) => {
          if (err.response.data) {
            this.errors = err.response.data;
          }
        });
    },
    logout() {
      // 删除ls
      localStorage.removeItem("jwtToken");
      // 干掉请求头 state.isAuthenticated = false
      // 清除user state.user = {}
      // 清空 state 中的profile
      this.$store.dispatch("clearCurrentState");
      //跳转登陆
      this.$router.push("/login");
    },
  },
};
</script>

<style>
</style>